<!-- templates/core/login.html -->

{% extends 'base.html' %}
{% load static %}

{% block title %}ورود{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
<div class="auth-wrapper">
    <div class="auth-overlay"></div>
    <div class="auth-card">
        <div class="auth-logo">
            <a href="{% url 'core:home' %}" class="logo-mark">
                <div class="logo-icon">
                    <img src="/static/logo/logo_transparent.png" alt="logo" class="logo-aside">
                </div>
                <div class="logo-text-sub">
                    <div class="auth-title">خوش آمدید به</div>
                    <br>
                    <div class="logo-text">استارت آپ <span>دیزاین</span></div>
                </div>
            </a>
        </div>
        <p class="auth-subtitle">برای ورود به حساب کاربری اطلاعات خود را وارد کنید</p>

        {% if form.errors %}
        <div class="error-message">
            <span>⚠️</span> نام کاربری یا رمز عبور اشتباه است.
        </div>
        {% endif %}

        <form method="post" class="auth-form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="auth-btn">ورود به حساب</button>
        </form>

        <div class="auth-divider-or">
            <span>یا</span>
        </div>

        <div class="auth-footer">
            حساب ندارید؟
            <a href="{% url 'accounts:register' %}">ثبت‌نام کنید</a>
        </div>

        <div class="auth-options">
            <a href="{% url 'core:tools' %}" class="auth-option-item">
                <svg viewBox="0 0 24 24" fill="none" stroke="currentColor">
                    <path
                        d="M14.7 6.3a1 1 0 0 0 0 1.4l1.6 1.6a1 1 0 0 0 1.4 0l3.77-3.77a6 6 0 0 1-7.94 7.94l-6.91 6.91a2.12 2.12 0 0 1-3-3l6.91-6.91a6 6 0 0 1 7.94-7.94l-3.76 3.76z" />
                </svg>
                <span>ابزار ها</span>
            </a>
            <a href="{% url 'project:list' %}" class="auth-option-item">
                <svg viewBox="0 0 24 24" fill="none" stroke="currentColor">
                    <path d="M3 7h18" />
                    <path d="M3 12h18" />
                    <path d="M3 17h18" />
                    <path d="M7 7v10" />
                    <path d="M17 7v10" />
                </svg>
                <span>پروژه‌ها</span>
            </a>
            <a href="{% url 'course:list' %}" class="auth-option-item">
                <svg viewBox="0 0 24 24" fill="none" stroke="currentColor">
                    <path d="M4 19.5A2.5 2.5 0 0 1 6.5 17H20" />
                    <path d="M6.5 2H20v20H6.5A2.5 2.5 0 0 0 4 24V4.5A2.5 2.5 0 0 1 6.5 2z" />
                </svg>
                <span>دوره ها</span>
            </a>
        </div>

    </div>
</div>
{% endblock %}