<!-- templates/accounts/register.html -->


{% extends 'base.html' %}

{% block title %}ورود{% endblock %}

{% block content %}
<meta charset="UTF-8">
<title>ثبت‌نام</title>
</head>

<body>
    <h2>ثبت‌نام</h2>

    {% if form.errors %}
    <p style="color:red;">لطفاً خطاهای زیر را برطرف کنید.</p>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">ثبت‌نام</button>
    </form>

    <p>قبلاً ثبت‌نام کرده‌اید؟ <a href="{% url 'accounts:login' %}">ورود</a></p>
    {% endblock %}